@import "../../../../styles/styles-port/variables";

a.dark-link {
  color: #252833 !important;
}

.side-nav li {
  float: none !important;
}


@media only screen and (max-width: $med-screen) {
  .side-nav .userView{
    padding: 28px;
  }
}
